app/pkgs/Wadl/WorkdayGetReviewHistoryDetails.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="WorkdayGetReviewHistoryDetails" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Workday Get Review History Details" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string dtype="hyperlink" name="ManualTriggerInput_HTTP_URI_def" />
      <object name="ManualTriggerInput">
        <property name="HTTP_URI" type="string" dtype="hyperlink" />
      </object>
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Last_Review_Rating_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Rating_3_Years_Ago_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Is_Top_Performer_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Rating_2_Years_Ago_Section_4_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Potential_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Rating_2_Years_Ago_Section_1_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Rating_2_Years_Ago_Section_2_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Rating_2_Years_Ago_Section_3_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Full_Name_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Rating_3_Years_Ago_Section_4_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Rating_3_Years_Ago_Section_3_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Last_Review_Section_3_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Last_Review_Section_2_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Last_Review_Section_1_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Rating_3_Years_Ago_Section_2_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Rating_3_Years_Ago_Section_1_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Last_Review_Rating_1_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Last_Review_Rating_2_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Rating_2_Years_Ago_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Rating_3_Years_Ago_Rating_2_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Rating_3_Years_Ago_Rating_1_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Reviews_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Rating_2_Years_Ago_Rating_2_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Performance_Over_Time_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Rating_2_Years_Ago_Rating_1_def" />
      <object name="ResponseActionOutput_Report_Entry_def_items_def">
        <property name="Last_Review_Rating" type="string" />
        <property name="Rating_3_Years_Ago" type="string" />
        <property name="Is_Top_Performer" type="string" />
        <property name="Rating_2_Years_Ago_Section_4" type="string" />
        <property name="Potential" type="string" />
        <property name="Rating_2_Years_Ago_Section_1" type="string" />
        <property name="Rating_2_Years_Ago_Section_2" type="string" />
        <property name="Rating_2_Years_Ago_Section_3" type="string" />
        <property name="Full_Name" type="string" />
        <property name="Rating_3_Years_Ago_Section_4" type="string" />
        <property name="Rating_3_Years_Ago_Section_3" type="string" />
        <property name="Last_Review_Section_3" type="string" />
        <property name="Last_Review_Section_2" type="string" />
        <property name="Last_Review_Section_1" type="string" />
        <property name="Rating_3_Years_Ago_Section_2" type="string" />
        <property name="Rating_3_Years_Ago_Section_1" type="string" />
        <property name="Last_Review_Rating_1" type="string" />
        <property name="Last_Review_Rating_2" type="string" />
        <property name="Rating_2_Years_Ago" type="string" />
        <property name="Rating_3_Years_Ago_Rating_2" type="string" />
        <property name="Rating_3_Years_Ago_Rating_1" type="string" />
        <property name="Reviews" type="string" />
        <property name="Rating_2_Years_Ago_Rating_2" type="string" />
        <property name="Performance_Over_Time" type="string" />
        <property name="Rating_2_Years_Ago_Rating_1" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Report_Entry_def_items_def" name="ResponseActionOutput_Report_Entry_def" />
      <object name="ResponseActionOutput">
        <property name="Report_Entry" typeRef="ResponseActionOutput_Report_Entry_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="HTTP_URI" path="/HTTP_URI" type="xs:anyURI" siena:dtype="hyperlink" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>