app/pkgs/Wadl/WorkdayGetWorkerFeedback.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="WorkdayGetWorkerFeedback" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Workday Get Worker Feedback" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string dtype="hyperlink" name="ManualTriggerInput_HTTP_URI_def" />
      <object name="ManualTriggerInput">
        <property name="HTTP_URI" type="string" dtype="hyperlink" />
      </object>
      <string name="ResponseActionOutput_items_def_Private__Shared_with_Feedback_Recipient_def" />
      <string name="ResponseActionOutput_items_def_Confidential__Not_Shared_with_Feedback_Recipient_def" />
      <string name="ResponseActionOutput_items_def_Type_def" />
      <string name="ResponseActionOutput_items_def_Comments_def_items_def_Feedback_def" />
      <string name="ResponseActionOutput_items_def_Comments_def_items_def_Question_def" />
      <object name="ResponseActionOutput_items_def_Comments_def_items_def">
        <property name="Feedback" type="string" />
        <property name="Question" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def_Comments_def_items_def" name="ResponseActionOutput_items_def_Comments_def" />
      <string name="ResponseActionOutput_items_def_From_def" />
      <string name="ResponseActionOutput_items_def_Date_def" />
      <string name="ResponseActionOutput_items_def_Photo_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="Private__Shared_with_Feedback_Recipient" type="string" />
        <property name="Confidential__Not_Shared_with_Feedback_Recipient" type="string" />
        <property name="Type" type="string" />
        <property name="Comments" typeRef="ResponseActionOutput_items_def_Comments_def" />
        <property name="From" type="string" />
        <property name="Date" type="string" />
        <property name="Photo" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="HTTP_URI" path="/HTTP_URI" type="xs:anyURI" siena:dtype="hyperlink" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>