app/pkgs/Wadl/WorkdayGetJobDetails.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="WorkdayGetJobDetails" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Workday Get Job Details" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string dtype="hyperlink" name="ManualTriggerInput_HTTP_URI_def" />
      <object name="ManualTriggerInput">
        <property name="HTTP_URI" type="string" dtype="hyperlink" />
      </object>
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Length_of_Service_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Time_in_Position_Range_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Promoted_in_Last_3_Years_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Worker_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_Photo_def" />
      <string name="ResponseActionOutput_Report_Entry_def_items_def_On_Successful_Projects_def" />
      <object name="ResponseActionOutput_Report_Entry_def_items_def">
        <property name="Length_of_Service" type="string" />
        <property name="Time_in_Position_Range" type="string" />
        <property name="Promoted_in_Last_3_Years" type="string" />
        <property name="Worker" type="string" />
        <property name="Photo" type="string" />
        <property name="On_Successful_Projects" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Report_Entry_def_items_def" name="ResponseActionOutput_Report_Entry_def" />
      <object name="ResponseActionOutput">
        <property name="Report_Entry" typeRef="ResponseActionOutput_Report_Entry_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="HTTP_URI" path="/HTTP_URI" type="xs:anyURI" siena:dtype="hyperlink" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>