app/pkgs/Wadl/WorkdayGetWorkers.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="WorkdayGetWorkers" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Workday Get Workers" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <object name="ManualTriggerInput" />
      <integer name="ResponseActionOutput_total_def" />
      <string name="ResponseActionOutput_data_def_items_def_id_def" />
      <string name="ResponseActionOutput_data_def_items_def_descriptor_def" />
      <string name="ResponseActionOutput_data_def_items_def_href_def" />
      <string name="ResponseActionOutput_data_def_items_def_primaryWorkPhone_def" />
      <string name="ResponseActionOutput_data_def_items_def_primarySupervisoryOrganization_def_descriptor_def" />
      <string name="ResponseActionOutput_data_def_items_def_primarySupervisoryOrganization_def_id_def" />
      <string name="ResponseActionOutput_data_def_items_def_primarySupervisoryOrganization_def_href_def" />
      <object name="ResponseActionOutput_data_def_items_def_primarySupervisoryOrganization_def">
        <property name="descriptor" type="string" />
        <property name="id" type="string" />
        <property name="href" type="string" />
      </object>
      <boolean name="ResponseActionOutput_data_def_items_def_isManager_def" />
      <string name="ResponseActionOutput_data_def_items_def_primaryWorkEmail_def" />
      <string name="ResponseActionOutput_data_def_items_def_businessTitle_def" />
      <object name="ResponseActionOutput_data_def_items_def">
        <property name="id" type="string" />
        <property name="descriptor" type="string" />
        <property name="href" type="string" />
        <property name="primaryWorkPhone" type="string" />
        <property name="primarySupervisoryOrganization" typeRef="ResponseActionOutput_data_def_items_def_primarySupervisoryOrganization_def" />
        <property name="isManager" type="boolean" />
        <property name="primaryWorkEmail" type="string" />
        <property name="businessTitle" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_data_def_items_def" name="ResponseActionOutput_data_def" />
      <object name="ResponseActionOutput">
        <property name="total" type="integer" />
        <property name="data" typeRef="ResponseActionOutput_data_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>